// stylelint-disable scss/at-extend-no-missing-placeholder, declaration-no-important

 @include govuk-media-query($until: tablet) {
   .govuk-table-card {
     thead,
     & .govuk-table-card-hidden-row {
       position: absolute;
       top: auto;
       left: -10000px;
       width: 1px;
       height: 1px;
       overflow: hidden;
     }

     & tbody tr {
       display: flex;
       flex-flow: column;
       margin-bottom: govuk-spacing(6);
       padding-bottom: govuk-spacing(6);
       border-bottom: 5px solid $govuk-border-colour;
     }

     & td {
       display: flex;
       justify-content: space-between;
       padding-right: 0 !important;
       border-bottom: 1px solid $govuk-border-colour;
     }

     & td:last-child {
      border-bottom: 0;
     }

     & .govuk-table-card-inline-label {
       display: block !important;
       margin-bottom: govuk-spacing(1);
       font-weight: 700;
     }
   }
 }

 .govuk-table-card {
   @extend .govuk-table;

   & thead {
     @extend .govuk-table__head !optional;
   }

   & tr {
    @extend .govuk-table__row !optional;
    position: relative;
   }

   & th {
     @extend .govuk-table__header;

     @include govuk-media-query($until: tablet) {
       margin: 0;
     }
   }

   & td {
     @extend .govuk-table__cell;

     @include govuk-media-query($until: tablet) {
       padding: govuk-spacing(3) 0;
     }
   }

   & .govuk-table__header--numeric,
   & .govuk-table__cell--numeric {
     text-align: right;
   }

   & .govuk-table-card-inline-label {
     display: none;
   }
 }
